USE [DCM]
GO
/****** Object:  Table [dbo].[B_BaseData]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_BaseData](
	[Company] [varchar](12) NOT NULL,
	[CompanyName1] [varchar](50) NOT NULL,
	[CompanyName2] [varchar](50) NULL,
	[Street] [varchar](50) NULL,
	[Postcode] [varchar](8) NULL,
	[City] [varchar](50) NULL,
	[Phone] [varchar](32) NULL,
	[Fax] [varchar](32) NULL,
	[MonthlyHours] [money] NULL,
	[DailyHours] [money] NULL,
	[Break1] [datetime] NULL,
	[Break2] [datetime] NULL,
	[Break3] [datetime] NULL,
	[Break4] [datetime] NULL,
	[Break5] [datetime] NULL,
	[BreakTime1] [datetime] NULL,
	[BreakTime2] [datetime] NULL,
	[BreakTime3] [datetime] NULL,
	[BreakTime4] [datetime] NULL,
	[BreakTime5] [datetime] NULL,
	[LastClosedYearDate] [datetime] NULL,
	[YearClosedOnDate] [datetime] NULL,
	[HangoverOvertime] [real] NULL,
	[HangoverHoliday] [real] NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[HangoverOverDay] [real] NULL,
	[MaxWorkingTime] [datetime] NULL,
	[MinRestTime] [datetime] NULL,
	[CountryKey] [varchar](3) NULL,
	[StateKey] [varchar](12) NULL,
	[MaxBreakTwoShifts] [datetime] NULL,
	[NoOverrideBreak] [int] NULL,
	[Picture] [image] NULL,
	[EMail] [varchar](256) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B_Calendar]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_Calendar](
	[Company] [varchar](12) NOT NULL,
	[Date] [datetime] NOT NULL,
	[KindOfDay] [int] NOT NULL,
	[Comment] [varchar](255) NULL,
	[Closed] [tinyint] NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[SchoolHoliday] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B_Departments]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_Departments](
	[Company] [varchar](12) NOT NULL,
	[Department] [varchar](12) NOT NULL,
	[DepartmentName] [varchar](50) NOT NULL,
	[AddProcFulltime] [real] NULL,
	[AddProcParttime] [real] NULL,
	[AddProcRentals] [real] NULL,
	[CostCenter] [varchar](10) NULL,
	[QuantityText] [varchar](12) NULL,
	[TotalText] [varchar](12) NULL,
	[Calc1] [int] NOT NULL,
	[Calc2] [int] NOT NULL,
	[Operator] [int] NOT NULL,
	[GaugeCol] [int] NOT NULL,
	[GaugeTolerance] [real] NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[MainDepartment] [varchar](12) NULL,
	[InfoText1Caption] [varchar](32) NULL,
	[InfoText2Caption] [varchar](32) NULL,
	[InfoText3Caption] [varchar](32) NULL,
	[InfoText4Caption] [varchar](32) NULL,
	[InfoText5Caption] [varchar](32) NULL,
	[InfoText1Type] [int] NULL,
	[InfoText2Type] [int] NULL,
	[InfoText3Type] [int] NULL,
	[InfoText4Type] [int] NULL,
	[InfoText5Type] [int] NULL,
	[PreselectedQuantity] [int] NULL,
	[StartHour] [int] NULL,
	[Disabled] [int] NULL,
	[CalcValue] [real] NULL,
	[CalcPerc] [real] NULL,
	[VatPerc] [real] NULL,
	[DepartmentType] [varchar](12) NULL,
	[VacantPositions] [int] NULL,
	[MaxTrainees] [int] NULL,
	[InfoText1Visible] [tinyint] NULL,
	[InfoText2Visible] [tinyint] NULL,
	[InfoText3Visible] [tinyint] NULL,
	[InfoText4Visible] [tinyint] NULL,
	[InfoText5Visible] [tinyint] NULL,
	[InfoWeatherVisible] [tinyint] NULL,
	[InfoSeasonVisible] [tinyint] NULL,
	[StartHourMo] [varchar](5) NULL,
	[StartHourTu] [varchar](5) NULL,
	[StartHourWe] [varchar](5) NULL,
	[StartHourTh] [varchar](5) NULL,
	[StartHourFr] [varchar](5) NULL,
	[StartHourSa] [varchar](5) NULL,
	[StartHourSu] [varchar](5) NULL,
	[StartHourDynamic] [int] NULL,
	[UseDynamic] [int] NULL,
	[DynamicCalculationBase] [int] NULL,
	[AssignedTerminals] [varchar](50) NULL,
	[UseDepartmentCalendar] [tinyint] NULL,
	[CountryKey] [nchar](3) NULL,
	[StateKey] [nchar](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B_EmployeeDepartment]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_EmployeeDepartment](
	[Company] [varchar](12) NOT NULL,
	[EmployeeNumber] [bigint] NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[Department] [varchar](12) NOT NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[StationShift1] [varchar](12) NULL,
	[StationShift2] [varchar](12) NULL,
	[PlanGroup] [int] NULL,
	[PlanGroupPosition] [int] NULL,
	[DeptBreakReduction] [tinyint] NULL,
	[DeptBreakTable] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B_Employees]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_Employees](
	[Company] [varchar](12) NOT NULL,
	[EmployeeNumber] [bigint] NOT NULL,
	[FamilyName] [varchar](50) NOT NULL,
	[FirstName] [varchar](32) NOT NULL,
	[Department] [varchar](12) NOT NULL,
	[Street] [varchar](64) NULL,
	[PostCode] [varchar](12) NULL,
	[City] [varchar](64) NULL,
	[Phone] [varchar](16) NULL,
	[Mobile] [varchar](16) NULL,
	[EMail] [varchar](255) NULL,
	[Picture] [image] NULL,
	[EmploymentDate] [datetime] NULL,
	[HolidayPerYear] [real] NULL,
	[WithdrawalDate] [datetime] NULL,
	[BreakReduction] [tinyint] NULL,
	[StationShift1] [varchar](12) NULL,
	[StationShift2] [varchar](12) NULL,
	[KindOfEmployment] [bigint] NULL,
	[DailyWorkHours] [bigint] NULL,
	[WorkingTimeModel] [bigint] NULL,
	[ProductiveHourlyWage] [real] NULL,
	[Surcharge] [tinyint] NULL,
	[ControlRelations] [real] NULL,
	[SFNHoursPerMonth] [real] NULL,
	[ValidateOvertime] [bigint] NULL,
	[TerminalID] [varchar](32) NULL,
	[Birthday] [datetime] NULL,
	[NightSurcharge] [tinyint] NULL,
	[CalculateFood] [tinyint] NULL,
	[MaxN] [real] NULL,
	[MaxSF] [real] NULL,
	[Comment] [varchar](255) NULL,
	[CheckMonth] [tinyint] NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[PlanGroup] [int] NULL,
	[PlanGroupPosition] [int] NULL,
	[Gender] [varchar](1) NULL,
	[Manager] [tinyint] NULL,
	[CostCenter] [varchar](32) NULL,
	[Familystatus] [int] NULL,
	[citizenship] [varchar](32) NULL,
	[Birthplace] [varchar](64) NULL,
	[BirthName] [varchar](50) NULL,
	[Children] [real] NULL,
	[Disability] [real] NULL,
	[ResidencePermit] [datetime] NULL,
	[EmploymentPermit] [datetime] NULL,
	[Insurancepolicynumber] [varchar](32) NULL,
	[Healthfund] [varchar](64) NULL,
	[Socialstatus] [int] NULL,
	[Incometaxclass] [int] NULL,
	[Childallowence] [real] NULL,
	[Religion] [varchar](32) NULL,
	[Communalkey] [varchar](32) NULL,
	[Bankname] [varchar](64) NULL,
	[Banknumber] [varchar](32) NULL,
	[Accountnumber] [varchar](32) NULL,
	[Accountholder] [varchar](64) NULL,
	[SpecialHolidayPerYear] [real] NULL,
	[IDNumber] [varchar](32) NULL,
	[LiabilityStructureKey] [varchar](32) NULL,
	[BreakTable] [int] NULL,
	[Numberplate] [varchar](32) NULL,
	[ProbationEndDate] [datetime] NULL,
	[ProbationPeriod] [int] NULL,
	[SchoolGrade] [varchar](32) NULL,
	[CompanyMembershipDate] [datetime] NULL,
	[DaysInsteadOfHours] [tinyint] NULL,
	[Trainee] [tinyint] NULL,
	[Position] [varchar](50) NULL,
	[PlanName] [varchar](50) NULL,
	[CheckQualification] [int] NULL,
	[BreakReductionActual] [tinyint] NULL,
	[SchoolGraduation] [varchar](32) NULL,
	[TraineeGraduation] [varchar](32) NULL,
	[CalculateHoursOnly] [int] NULL,
	[Deficiency] [real] NULL,
	[CheckSundaysOff] [tinyint] NULL,
	[Info_Street] [tinyint] NULL,
	[Info_PostCode] [tinyint] NULL,
	[Info_City] [tinyint] NULL,
	[Info_Phone] [tinyint] NULL,
	[Info_Mobile] [tinyint] NULL,
	[Info_EMail] [tinyint] NULL,
	[Info_Numberplate] [tinyint] NULL,
	[Info_Picture] [tinyint] NULL,
	[Info_InfoComment] [tinyint] NULL,
	[InfoComment] [varchar](255) NULL,
	[CalculationSurcharge] [bigint] NULL,
	[IBAN] [varchar](50) NULL,
	[BIC] [varchar](50) NULL,
	[ForceStartTime] [tinyint] NULL,
	[ForceEndTime] [tinyint] NULL,
	[StartTimeDeficiency] [datetime] NULL,
	[EndTimeDeficiency] [datetime] NULL,
	[IgnoreBankHoliday] [tinyint] NULL,
	[IgnoreBankHolidayOnSaturday] [tinyint] NULL,
	[SurchargeNAsTime] [tinyint] NULL,
	[SurchargeSFAsTime] [tinyint] NULL,
	[PrintSalaryOnReport] [tinyint] NULL,
	[AssignedTerminals] [varchar](50) NULL,
	[UseInActualExport] [tinyint] NULL,
	[IgnoreBankHolidayOnSunday] [tinyint] NULL,
	[SurchargeWithoutOvertime] [tinyint] NULL,
	[SaleryType] [varchar](20) NULL,
	[Fingers] [bigint] NULL,
	[LFZFT] [tinyint] NULL,
	[WebClockInOutPermitted] [tinyint] NULL,
	[Password] [varchar](100) NULL,
	[WebAccessBlocked] [tinyint] NULL,
	[TimeForChangingClothes] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B_GeneralSettings]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_GeneralSettings](
	[Company] [varchar](12) NOT NULL,
	[SaveLastUser] [bigint] NULL,
	[StaffOnTheHour] [bigint] NULL,
	[TurnoverPlan] [bigint] NULL,
	[TurnoverReal] [bigint] NULL,
	[CurrentZeroVAT] [real] NULL,
	[CurrentHalfVAT] [real] NULL,
	[CurrentFullVAT] [real] NULL,
	[NewVATDate] [datetime] NULL,
	[NewZeroVAT] [real] NULL,
	[NewHalfVAT] [real] NULL,
	[NewFullVAT] [real] NULL,
	[POSImportPath] [varchar](255) NULL,
	[POSDeleteImportFile] [bigint] NULL,
	[POSImportFilter] [varchar](32) NULL,
	[TIMEImportPath] [varchar](255) NULL,
	[TIMEDeleteImportFile] [bigint] NULL,
	[TIMEImportFilter] [varchar](32) NULL,
	[TURNOVERExportPath] [varchar](255) NULL,
	[TURNOVERExportFile] [varchar](255) NULL,
	[TURNOVERExportFilter] [varchar](32) NULL,
	[TURNOVERExportAccount] [varchar](32) NULL,
	[BILLExportPath] [varchar](255) NULL,
	[BILLExportFile] [varchar](255) NULL,
	[BILLExportFilter] [varchar](32) NULL,
	[SALARYExportPath] [varchar](255) NULL,
	[SALARYExportFile] [varchar](255) NULL,
	[SALARYExportFilter] [varchar](32) NULL,
	[MealFulltime] [money] NULL,
	[MealParttime] [money] NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[MealFromHour] [real] NULL,
	[MealUseMax] [tinyint] NULL,
	[PrintOvertime] [tinyint] NULL,
	[UseItemFandB] [tinyint] NULL,
	[DaysInsteadOfHours] [tinyint] NULL,
	[ShowDaysAndHours] [tinyint] NULL,
	[HoursAsDays] [tinyint] NULL,
	[HoursAsManpowerInMonitor] [tinyint] NULL,
	[TIMETillNumber] [int] NULL,
	[TIMEFileName] [varchar](255) NULL,
	[ColorHighCost_R] [int] NULL,
	[ColorHighCost_G] [int] NULL,
	[ColorHighCost_B] [int] NULL,
	[ColorHighStaff_R] [int] NULL,
	[ColorHighStaff_G] [int] NULL,
	[ColorHighStaff_B] [int] NULL,
	[ColorOptimum_R] [int] NULL,
	[ColorOptimum_G] [int] NULL,
	[ColorOptimum_B] [int] NULL,
	[ColorSaturday_R] [int] NULL,
	[ColorSaturday_G] [int] NULL,
	[ColorSaturday_B] [int] NULL,
	[ColorSunday_R] [int] NULL,
	[ColorSunday_G] [int] NULL,
	[ColorSunday_B] [int] NULL,
	[ColorBankHoliday_R] [int] NULL,
	[ColorBankHoliday_G] [int] NULL,
	[ColorBankHoliday_B] [int] NULL,
	[HotelFileName] [varchar](255) NULL,
	[ColorMandatoryFields_R] [int] NULL,
	[ColorMandatoryFields_G] [int] NULL,
	[ColorMandatoryFields_B] [int] NULL,
	[TIMEComes1] [int] NULL,
	[TIMEComes2] [int] NULL,
	[TIMEComes3] [int] NULL,
	[TIMEGoes1] [int] NULL,
	[TIMEGoes2] [int] NULL,
	[TIMEGoes3] [int] NULL,
	[PrintHoliday] [tinyint] NULL,
	[MonthsTarget] [int] NULL,
	[PrintSaldo] [int] NULL,
	[OverdaysNotAsOvertime] [int] NULL,
	[OvertimeBonus] [money] NULL,
	[BankholidayOnWeekend] [int] NULL,
	[AllowSchoolOnHoliday] [tinyint] NULL,
	[AdultMinResttimeWarning] [money] NULL,
	[AdultMinResttimeStop] [money] NULL,
	[AdultMaxWorkingtimeWarning] [money] NULL,
	[AdultMaxWorkingtimeStop] [money] NULL,
	[MinorAge] [int] NULL,
	[MinorMinResttimeWarning] [money] NULL,
	[MinorMinResttimeStop] [money] NULL,
	[MinorMaxWorkingtimeWarning] [money] NULL,
	[MinorMaxWorkingtimeStop] [money] NULL,
	[MinorBeginWarning] [datetime] NULL,
	[MinorBeginStop] [datetime] NULL,
	[MinorEndWarning] [datetime] NULL,
	[MinorEndStop] [datetime] NULL,
	[DeptOnlyCapitals] [tinyint] NULL,
	[ShowWeekTotalInOneSum] [tinyint] NULL,
	[ShowDayTotalInOneSum] [tinyint] NULL,
	[PrintOverdays] [tinyint] NULL,
	[SpecialDaysRegularWorkingTime] [real] NULL,
	[PIMandant] [varchar](20) NULL,
	[PIAbrKr] [varchar](20) NULL,
	[PIPRID] [varchar](3) NULL,
	[Deficiency] [real] NULL,
	[BonusDeficiency] [real] NULL,
	[ExtraDayLevelHigh] [real] NULL,
	[ExtraDayLevelLow] [real] NULL,
	[Default88887Rule] [tinyint] NULL,
	[SundaysDayOffMin] [real] NULL,
	[AllowDisableWarningWindow] [tinyint] NULL,
	[PrintOvertimeActual] [tinyint] NULL,
	[AllowHolidayOnSunday] [tinyint] NULL,
	[PrintAZVday] [tinyint] NULL,
	[PrintSASurcharge] [tinyint] NULL,
	[VersionSST] [varchar](20) NULL,
	[VersionDB] [varchar](20) NULL,
	[CalDavExportPath] [varchar](512) NULL,
	[AutoLogOff] [bigint] NULL,
	[TIMEShowSpecialTimes] [tinyint] NULL,
	[TIMEImportSpecialTimes] [tinyint] NULL,
	[TIMEShowOnlyInconsistent] [tinyint] NULL,
	[TIMEShowPlanWithoutETimes] [tinyint] NULL,
	[TIMEImportPlanWithoutETimes] [tinyint] NULL,
	[JobApplyPath] [varchar](1024) NULL,
	[JobApplyFileName] [varchar](255) NULL,
	[JobApplyURL] [varchar](1024) NULL,
	[JobApplyUser] [varchar](50) NULL,
	[JobApplyPWD] [varchar](128) NULL,
	[HolidayApprovedSpecialTime] [int] NULL,
	[HolidayApprovedSubSpecialTime] [int] NULL,
	[DisableLogging] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B_Salery]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_Salery](
	[Company] [varchar](12) NOT NULL,
	[EmployeeNumber] [bigint] NOT NULL,
	[Year] [bigint] NOT NULL,
	[Month] [bigint] NOT NULL,
	[SaleryPerMonth] [real] NULL,
	[SaleryPerHour] [real] NULL,
	[WorktimePerMonth] [real] NULL,
	[WorktimePerDay] [real] NULL,
	[WorkingdaysPerWeek] [real] NULL,
	[SurchargeFree] [real] NULL,
	[SurchargeSFN] [real] NULL,
	[Comment] [varchar](255) NULL,
	[HolidayStart] [real] NULL,
	[OvertimeStart] [real] NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[OverDayStart] [real] NULL,
	[HolidayPerYear] [real] NULL,
	[SpecialHolidayPerYear] [real] NULL,
	[WorktimeDay1] [real] NULL,
	[WorktimeDay2] [real] NULL,
	[WorktimeDay3] [real] NULL,
	[WorktimeDay4] [real] NULL,
	[WorktimeDay5] [real] NULL,
	[WorktimeDay6] [real] NULL,
	[WorktimeDay7] [real] NULL,
	[ManualWorktimeDays] [int] NULL,
	[OvertimeAsDayStart] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B_SpecialTime]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_SpecialTime](
	[Company] [varchar](12) NOT NULL,
	[LanguageKey] [varchar](3) NOT NULL,
	[TypeKey] [int] NOT NULL,
	[ShortName] [varchar](1) NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[EMail] [varchar](255) NOT NULL,
	[Red] [int] NULL,
	[Green] [int] NULL,
	[Blue] [int] NULL,
	[CalculateCost] [int] NULL,
	[CalculateTime] [int] NULL,
	[SpecialTime] [varchar](2) NULL,
	[KindOfTime] [varchar](20) NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[SA_SU_BH] [int] NULL,
	[UseInWeb] [tinyint] NULL,
	[DaysInAdvance] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B_SubSpecialTime]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_SubSpecialTime](
	[Company] [varchar](12) NOT NULL,
	[LanguageKey] [varchar](3) NOT NULL,
	[TypeKey] [int] NOT NULL,
	[SubTypeKey] [int] NOT NULL,
	[ShortName] [varchar](2) NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[EMail] [varchar](255) NOT NULL,
	[Disabled] [tinyint] NULL,
	[SpecialSubTime] [varchar](2) NULL,
	[KindOfTime] [varchar](20) NULL,
	[DaysInsteadOfHours] [int] NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[Red] [int] NULL,
	[Green] [int] NULL,
	[Blue] [int] NULL,
	[UseInWeb] [tinyint] NULL,
	[DaysInAdvance] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S_AbsenceRequest]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_AbsenceRequest](
	[Company] [varchar](12) NOT NULL,
	[Department] [varchar](12) NOT NULL,
	[EmployeeNumber] [bigint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[TypeKey] [int] NOT NULL,
	[SubTypeKey] [int] NOT NULL,
	[AbsenceFirstDate] [datetime] NOT NULL,
	[RequestFirstDate] [datetime] NOT NULL,
	[RequestFirstDate_Half] [int] NOT NULL,
	[RequestLastDate] [datetime] NOT NULL,
	[RequestLastDate_Half] [int] NOT NULL,
	[RequestComment] [varchar](255) NULL,
	[ApprovedFirstDate] [datetime] NULL,
	[ApprovedFirstDate_Half] [int] NULL,
	[ApprovedLastDate] [datetime] NULL,
	[ApprovedLastDate_Half] [int] NULL,
	[ApprovedComment] [varchar](255) NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[Picture] [image] NULL,
	[PictureOrgFileName] [varchar](1024) NULL,
	[PictureFileExtension] [varchar](12) NULL,
	[EmailToSendTo] [varchar](255) NULL,
	[EmailSent] [tinyint] NULL,
	[EmailSentDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S_ElectronicTime]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_ElectronicTime](
	[Company] [varchar](12) NOT NULL,
	[E_Key] [varchar](50) NOT NULL,
	[EmployeeNumber] [bigint] NOT NULL,
	[E_Date] [datetime] NOT NULL,
	[E_Time] [varchar](8) NOT NULL,
	[E_Status] [tinyint] NOT NULL,
	[TerminalID] [varchar](32) NOT NULL,
	[OriginalString] [varchar](255) NULL,
	[Processed] [tinyint] NULL,
	[E_System] [tinyint] NULL,
	[E_Source] [varchar](1024) NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S_TimeAdjustment]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_TimeAdjustment](
	[Company] [varchar](12) NOT NULL,
	[Department] [varchar](12) NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Week] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[EmployeeNumber] [bigint] NOT NULL,
	[OverTimeAdjustment] [real] NULL,
	[OverDayAdjustment] [real] NULL,
	[HolidayAdjustment] [real] NULL,
	[Comment] [varchar](64) NULL,
	[KindOfAdjustment] [int] NOT NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[WorktimePerDay] [real] NULL,
	[OverTimeAsDayAdjustment] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S_WeekActual]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_WeekActual](
	[Company] [varchar](12) NOT NULL,
	[Department] [varchar](12) NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Week] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[EmployeeNumber] [bigint] NOT NULL,
	[StartTime1] [varchar](5) NOT NULL,
	[EndTime1] [varchar](5) NOT NULL,
	[WorkingTime1] [varchar](5) NOT NULL,
	[SpecialTime1] [varchar](2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Station1] [varchar](12) NULL,
	[DailyCost] [real] NULL,
	[DailyHoursNet] [real] NULL,
	[DailyHoursGross] [real] NULL,
	[DailyBreakTime] [real] NULL,
	[OverTime] [real] NULL,
	[StartTime2] [varchar](5) NOT NULL,
	[EndTime2] [varchar](5) NOT NULL,
	[WorkingTime2] [varchar](5) NOT NULL,
	[SpecialTime2] [varchar](2) NOT NULL,
	[Station2] [varchar](12) NULL,
	[DaysInNight1] [real] NULL,
	[DaysInNight2] [real] NULL,
	[DaysInNight3] [real] NULL,
	[DaysInNight4] [real] NULL,
	[DaysInNight5] [real] NULL,
	[DaysInS_H1] [real] NULL,
	[DaysInS_H2] [real] NULL,
	[DaysInS_H3] [real] NULL,
	[DaysInS_H4] [real] NULL,
	[DaysInS_H5] [real] NULL,
	[KindOfDay] [int] NULL,
	[Closed] [tinyint] NULL,
	[Comment] [varchar](255) NULL,
	[DaysHoliday] [real] NULL,
	[DaysSickness] [real] NULL,
	[DaysSchool] [real] NULL,
	[DaysDayOff] [real] NULL,
	[DaysOvertime] [real] NULL,
	[DaysSpecialHoliday] [real] NULL,
	[RegularWorkingTime] [real] NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[PlanGroup] [int] NULL,
	[PlanGroupPosition] [int] NULL,
	[St1_Red] [int] NULL,
	[St1_Green] [int] NULL,
	[St1_Blue] [int] NULL,
	[St2_Red] [int] NULL,
	[St2_Green] [int] NULL,
	[St2_Blue] [int] NULL,
	[RegularDailyHoursNet] [real] NULL,
	[DivergentDepartmentSt1] [varchar](12) NULL,
	[DivergentDepartmentSt2] [varchar](12) NULL,
	[DailyCostSh1] [real] NULL,
	[DailyCostSh2] [real] NULL,
	[DailyHoursNetSh1] [real] NULL,
	[DailyHoursNetSh2] [real] NULL,
	[DaysAZVHoliday] [real] NULL,
	[DaysUnPayedHoliday] [real] NULL,
	[SpecialSubTime1] [varchar](2) NULL,
	[SpecialSubTime2] [varchar](2) NULL,
	[RegularWorkingDay] [real] NULL,
	[WorkedThisDay] [real] NULL,
	[ElectronicTime] [int] NULL,
	[Authorised] [tinyint] NULL,
	[TimeModel] [varchar](32) NULL,
	[PrintComment] [varchar](256) NULL,
	[ManualBreakTime] [tinyint] NULL,
	[ManualDailyHoursNet] [tinyint] NULL,
	[BreakTable] [int] NULL,
	[RealHoursUsedNet] [real] NULL,
	[ExtraDay] [real] NULL,
	[ExtraDayLevel] [real] NULL,
	[AlertBreaktime] [tinyint] NULL,
	[AlertResttime] [tinyint] NULL,
	[AlertMaxtime] [tinyint] NULL,
	[AlertStarttime] [tinyint] NULL,
	[AlertEndtime] [tinyint] NULL,
	[ManualRegularDailyHoursNet] [tinyint] NULL,
	[ManualRegularWorkingTime] [tinyint] NULL,
	[ManualExtraDayLevel] [tinyint] NULL,
	[BankHolidayHours] [real] NULL,
	[DailyHoursNetAsDay] [real] NULL,
	[DailyHoursNetSh1AsDay] [real] NULL,
	[DailyHoursNetSh2AsDay] [real] NULL,
	[OverTimeAsDay] [real] NULL,
	[ElectronicTimeStartSource] [int] NULL,
	[ElectronicTimeEndSource] [int] NULL,
	[SurchargeWithoutOvertime] [tinyint] NULL,
	[SurchargeWithoutOvertimeAdjustment] [real] NULL,
	[SurchargeWithoutOvertimeAdjustmentAsDay] [real] NULL,
	[StartTime1AsDate] [datetime] NULL,
	[EndTime1AsDate] [datetime] NULL,
	[StartTime2AsDate] [datetime] NULL,
	[EndTime2AsDate] [datetime] NULL,
	[MealValue] [real] NULL,
	[ElectronicBreakTime] [real] NULL,
	[Origin] [varchar](128) NULL,
	[OriginInput] [varchar](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S_WeekPlan]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_WeekPlan](
	[Company] [varchar](12) NOT NULL,
	[Department] [varchar](12) NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Week] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[EmployeeNumber] [bigint] NOT NULL,
	[StartTime1] [varchar](5) NOT NULL,
	[EndTime1] [varchar](5) NOT NULL,
	[WorkingTime1] [varchar](5) NOT NULL,
	[SpecialTime1] [varchar](2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Station1] [varchar](12) NULL,
	[DailyCost] [real] NULL,
	[DailyHoursNet] [real] NULL,
	[DailyHoursGross] [real] NULL,
	[DailyBreakTime] [real] NULL,
	[OverTime] [real] NULL,
	[StartTime2] [varchar](5) NOT NULL,
	[EndTime2] [varchar](5) NOT NULL,
	[WorkingTime2] [varchar](5) NOT NULL,
	[SpecialTime2] [varchar](2) NOT NULL,
	[Station2] [varchar](12) NULL,
	[DaysInNight1] [real] NULL,
	[DaysInNight2] [real] NULL,
	[DaysInNight3] [real] NULL,
	[DaysInNight4] [real] NULL,
	[DaysInNight5] [real] NULL,
	[DaysInS_H1] [real] NULL,
	[DaysInS_H2] [real] NULL,
	[DaysInS_H3] [real] NULL,
	[DaysInS_H4] [real] NULL,
	[DaysInS_H5] [real] NULL,
	[KindOfDay] [int] NULL,
	[Closed] [tinyint] NULL,
	[Comment] [varchar](255) NULL,
	[DaysHoliday] [real] NULL,
	[DaysSickness] [real] NULL,
	[DaysSchool] [real] NULL,
	[DaysDayOff] [real] NULL,
	[DaysOvertime] [real] NULL,
	[DaysSpecialHoliday] [real] NULL,
	[RegularWorkingTime] [real] NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL,
	[PlanGroup] [int] NULL,
	[PlanGroupPosition] [int] NULL,
	[St1_Red] [int] NULL,
	[St1_Green] [int] NULL,
	[St1_Blue] [int] NULL,
	[St2_Red] [int] NULL,
	[St2_Green] [int] NULL,
	[St2_Blue] [int] NULL,
	[RegularDailyHoursNet] [real] NULL,
	[DivergentDepartmentSt1] [varchar](12) NULL,
	[DivergentDepartmentSt2] [varchar](12) NULL,
	[DailyCostSh1] [real] NULL,
	[DailyCostSh2] [real] NULL,
	[DailyHoursNetSh1] [real] NULL,
	[DailyHoursNetSh2] [real] NULL,
	[DaysAZVHoliday] [real] NULL,
	[DaysUnPayedHoliday] [real] NULL,
	[SpecialSubTime1] [varchar](2) NULL,
	[SpecialSubTime2] [varchar](2) NULL,
	[RegularWorkingDay] [real] NULL,
	[WorkedThisDay] [real] NULL,
	[ElectronicTime] [int] NULL,
	[Authorised] [tinyint] NULL,
	[TimeModel] [varchar](32) NULL,
	[PrintComment] [varchar](256) NULL,
	[ManualBreakTime] [tinyint] NULL,
	[ManualDailyHoursNet] [tinyint] NULL,
	[BreakTable] [int] NULL,
	[RealHoursUsedNet] [real] NULL,
	[ExtraDay] [real] NULL,
	[ExtraDayLevel] [real] NULL,
	[AlertBreaktime] [tinyint] NULL,
	[AlertResttime] [tinyint] NULL,
	[AlertMaxtime] [tinyint] NULL,
	[AlertStarttime] [tinyint] NULL,
	[AlertEndtime] [tinyint] NULL,
	[ManualRegularDailyHoursNet] [tinyint] NULL,
	[ManualRegularWorkingTime] [tinyint] NULL,
	[ManualExtraDayLevel] [tinyint] NULL,
	[BankHolidayHours] [real] NULL,
	[DailyHoursNetAsDay] [real] NULL,
	[DailyHoursNetSh1AsDay] [real] NULL,
	[DailyHoursNetSh2AsDay] [real] NULL,
	[OverTimeAsDay] [real] NULL,
	[ElectronicTimeStartSource] [int] NULL,
	[ElectronicTimeEndSource] [int] NULL,
	[SurchargeWithoutOvertime] [tinyint] NULL,
	[SurchargeWithoutOvertimeAdjustment] [real] NULL,
	[SurchargeWithoutOvertimeAdjustmentAsDay] [real] NULL,
	[StartTime1AsDate] [datetime] NULL,
	[EndTime1AsDate] [datetime] NULL,
	[StartTime2AsDate] [datetime] NULL,
	[EndTime2AsDate] [datetime] NULL,
	[MealValue] [real] NULL,
	[ElectronicBreakTime] [real] NULL,
	[Origin] [varchar](128) NULL,
	[OriginInput] [varchar](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S_WeekPlanWebDeploy]    Script Date: 15.12.2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_WeekPlanWebDeploy](
	[Company] [varchar](12) NOT NULL,
	[Department] [varchar](12) NOT NULL,
	[Year] [int] NOT NULL,
	[Week] [int] NOT NULL,
	[Status] [int] NULL,
	[LastChange] [datetime] NULL,
	[LastUser] [varchar](32) NULL
) ON [PRIMARY]
GO
